body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display:flex;
    padding: 10px;
    justify-content:space-around;
    justify-self: flex-start;

}

.header-links {
    display:flex;
    gap: 20px;
    justify-content: center;
}

ul {
    margin:0;
    padding:0;
    list-style-type: none;
}
a{
    margin:0;
    padding:0;
    text-decoration: none;
}

.top-main {
    display:flex;
    justify-content: space-around;
    padding: 10px;
}

.top-main-text {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex:1;

}

.header{
    flex-wrap: wrap;
}

.descriptor {
    flex-wrap: wrap;
}

.top-main-image {
    margin-right:auto;
    flex:1;
}

h4 {
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
}
.top-main-image > h4 {
    align-self: center;
    text-align: center;
}
