body {
    display:flex;
    flex-direction: column;
}

.header {
    display:flex;
    padding: 10px;
    justify-content:space-around;
    justify-self: flex-start;

}

.header-links {
    display:flex;
    gap: 20px;
    justify-content: center;
}

ul {
    margin:0;
    padding:0;
    list-style-type: none;
}
a{
    margin:0;
    padding:0;
    text-decoration: none;
}

.top-main {
    display:flex;
    gap: 20px;
    justify-content: center;
}

.top-main-text {

}
.top-main-image {

}
